/Aleatorio.cs.meta
/Ativar.cs.meta
/Aula.cs.meta
/Aula2.cs.meta
/ClassAula2.cs.meta
/ClasseAula.cs.meta
/ClasseEstatica.cs.meta
/ClasseEstatica2.cs.meta
/componente.cs.meta
/ControlePlayer.cs.meta
/criarobjetos.cs.meta
/enumAula.cs.meta
/lerpAula.cs.meta
/listasAulas.cs.meta
/listAula.cs.meta
/math.cs.meta
/OperadoresAula.cs.meta
/ray.cs.meta
/repeatAula.cs.meta
/rotat.cs.meta
/rotinas.cs.meta
/structAula.cs.meta
/transf.cs.meta